  .products::-webkit-scrollbar{
    width: 0;
    display: none;

  }
  #speechify-listening-nudge, #speechify-feedback-form {
    --speechify-primary-color: #009879;
    --font-family: ABCDiatype;
    --transitions: none;
}

