.ant-col.css-dev-only-do-not-override-udkq42 {
width : 157px ; 
}

.ant-modal-content {
    width : 619px ;
}
header.ant-layout-header.css-dev-only-do-not-override-udkq42{
    height: 3px;
}
span.rct-node-icon {
display: none;
}

